@import 'style/mixins.scss';
@import 'style/colors.scss';

.history-bar {
  border-left: 1px solid $mainBorder;
  background-color: $paper;
  overflow-y: scroll;
  height: 77.8vh;
  @include flex-col;
  width: 20%;
}

.history-bar-item {
  border-bottom: 1px solid $mainBorder;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  height: 10em;
  padding: 1em;
}

.history-bar-image {
  width: 6em;
  height: 6em;
}
