@import 'style/mixins.scss';
@import 'style/colors.scss';

.recipes-container {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(5, 1fr);
  grid-gap: 1em;
  min-height: 0;
  min-width: 0;
}

.action-toolbar {
  @include flex-row;
  margin-bottom: 2em;
}

.food-category-button {
  background-color: $defaultButton;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  height: 4.5em;
  outline: none;
  width: 4.5em;
  padding: 1em;
  border: none;
  margin: 1em;
}

.no-favorites {
  font-size: 15pt;
  margin: 2em;
}

.favorite-category-button {
  margin-left: auto;
}

.food-category-button:hover {
  transition: all 1.5s ease;
  background-color: $activeButton;
}

.active {
  background-color: $activeButton;
}
