@import 'style/colors.scss';

.card-wrapper {
  border: 2px solid $paperBorder;
  background-color: $paper;
  border-radius: 4px;
  padding: 10px;
  overflow: hidden;
  min-width: 0;
}

.card-image {
  width: 100%;
  display: block;
}

.card-title {
  color: $defaultText;
  text-align: center;
  padding-top: 1em;
  font-size: 14pt;
}

.like-button {
  background-color: transparent;
  color: $mainAccent;
  border-radius: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
}

.like-button:hover {
  background-color: $defaultHover;
  color: $mainAccent;
  transition: all 1s ease;
  cursor: pointer;
}

.card-actions {
  justify-content: space-between;
  display: flex;
}

.card-content {
  padding: 1em;
}

.single-recipe-link {
  color: $defaultText;
}
