@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

//Main color scheme
$background: #f1f1f1;
$backgroundAccent: #f0f0f0;
$mainAccent: #f06672;
$darkerAccent: #872c33;
$lighterAccent: #ee8989;

//Cards and Paper
$paper: #ffffff;

//Colors for color pattern
$color1: #efdcf3;
$color2: #70c0ff;
$color3: #40e7c9;
$color4: #fbe52d;

//Text
$defaultText: #939393;

//Buttons
$defaultButton: #a0a0a0;
$activeButton: red;

.testedIcon {
  color: #fad710;
}
