@import 'style/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Shared Styling */
.styled-button {
  border: none;
  outline: none;
  border-radius: 4px;
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.right-content {
  background-color: $background;
  overflow-y: scroll;
  height: 100vh;
  padding: 4em;
}

.styled-button:hover {
  background-color: turquoise;
}

.m-5em {
  margin: 5em;
}

/* Home Page */
.home-page {
  padding: 0 !important;
}

.home-page img {
  width: 100%;
}

.homepage-section-1 {
  padding: 2em 2em 3em 3em;
  text-align: center;
}

.homepage-section-1 h1 {
  font-family: 'Permanent Marker', cursive;
}

.homepage-section-2 {
  padding: 5em;
  background-color: $color1;
  height: 30em;
  text-align: center;
}

.homepage-section-3 {
  padding: 5em;
  background-color: $color2;
  height: 30em;
  text-align: center;
}

.circle-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3em;
}

.circle {
  height: 170px;
  width: 170px;
  background-color: #36bd7f;
  color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  line-height: 190px;
}

/* Lab */
.lab {
  background-color: rgb(242, 242, 242) !important;
  height: 100vh;
  padding: 3em;
}

/* Recipe Page */
.recipes-container {
  display: flex;
  flex-wrap: wrap;
}

.action-toolbar {
  display: flex;
  margin-bottom: 2em;
}

.food-category-button {
  background-color: rgb(216, 216, 216);
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 1em;
  border: none;
  margin: 1em;
}

.food-category-button:hover {
  background-color: pink;
}

.active {
  background-color: pink;
}

.center-on-image {
  position: absolute;
  animation: fadeIn ease 4s;
  top: 30%;
  left: 25%;
  font-size: 6em;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  color: white;
  transform: rotate(-5deg);
}

.image-text-container {
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
