@import 'style/colors.scss';
@import 'style/mixins.scss';

.single-drink-page {
  background-color: $paper;
  padding: 5em;
  margin: 2em;
}

.back-icon {
  margin-bottom: 1em;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 1em;
  border: none;
}

.back-icon:hover {
  background-color: rgb(201, 201, 201);
  transition: all 1.5s ease;
}

.drink-wrapper {
  @include flex-row;
  flex-grow: 1;
}

.drink-image {
  margin-top: 2em;
  width: 30em;
  flex-grow: 1;
}

.drink-list {
  @include flex-col;
  flex-grow: 1;
}

.ingredient-list {
  background-color: $backgroundAccent;
  margin: 3em 2em 0 0;
  flex-grow: 1;
}

.ingredient-list-row {
  @include flex-row;
  padding: 0.5em;
  justify-content: space-between;
}

.drink-instructions {
  margin-right: 2em;
  text-align: justify;
}

.drink-information {
  @include flex-col;
}

.icon-label {
  display: block;
}

.icon-label-container {
  border-radius: 6px;
  display: inline-block;
  margin: 2em 1em 2em 0;
  padding: 10px;
  text-align: center;
}

.drink-tag-wrapper {
  @include flex-row;
  margin-top: 1em;
}

.drink-tag {
  background-color: $mainAccent;
  color: $darkerAccent;
  margin-right: 0.5em;
  padding: 0.5em;
}

.alcoholic-tag {
  background-color: $color3;
  margin-right: 2em;
  color: $paper;
  padding: 1em;
}

.drink-image-div {
  height: 20em;
}

.full-cover-drink-image {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(7, 7, 7, 0.73)),
    url('images/two_drinks.jpg');
  height: 20em;
  background-position: center;
  background-size: cover;
}
