@import 'style/colors.scss';
@import 'style/mixins.scss';

.nav-list {
  background-color: $navbarColor;
  overflow-x: hidden;
  @include flex-col;
  position: fixed;
  width: 12em;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.nav-item {
  justify-content: center;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  align-items: center;
  @include flex-col;
  cursor: pointer;
  font-size: 14pt;
  color: White;
  flex-grow: 1;
}

.nav-item:hover {
  background-color: $mainAccent;
  transition: all 1.5s ease;
}

.nav-image {
  height: 13em;
}

.selected {
  background-color: $mainAccent;
}
