@import 'style/colors.scss';

.nav-list {
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  width: 12em;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.nav-item {
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  font-size: 14pt;
  color: White;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-item:hover {
  background-color: $mainAccent;
  transition: all 1.5s ease;
}

.nav-image {
  height: 13em;
}

.selected {
  background-color: $mainAccent;
}
