@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body,
#app,
#app > div {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  background-color: #e9e9e9;
}

.main-content {
  margin-left: 12em; /* Must be same as navbar width */
}
